<h1 class="text-center">News</h1>
{{#each data}}
<div class="container jumbotron" style="background-color: wheat;">
    
        <div class="card mb-3">
            <a href="{{this.url}}">
                {{#if this.image}}
                <img class="card-img-top" src="{{this.image}}" alt="Card image cap">
                {{/if}}
                {{#unless this.image}}
                <img class="card-img-top" src="https://thumbs.dreamstime.com/b/planks-dark-old-wood-texture-background-170515350.jpg" alt="Card image cap">
                {{/unless}}
            </a>
            <div class="card-body">
                <h5 class="card-title">{{this.title}}</h5>
                <p class="card-text">{{this.description}} <a href="{{this.url}}"> Read more...</a></p>
                <p class="card-text">Published at: <small class="text-muted">{{this.published_at}}</small></p>
            </div>
        </div>
    
</div>
{{/each}}